{% extends "base.html" %}

{% block title %}
  Error
{% endblock %}

{% block body %}
  <h1>{{ error.code }} {{ error.name }}</h1>
  <p class="error centered">{{ error.description }}</p>
{% endblock %}
