{% extends "base.html" %}

{% block title %}
  Error
{% endblock %}

{% block body %}
  <h1>Unexpected error</h1>
  <h2 class="error">{{ error_type }}</h2>
  <p class="error">{{ error }}</p>

  {% if traceback %}
    <pre>{{ traceback }}</pre>
  {% endif %}

  {% if data %}
    <h2>{{ data[1] }}</h2>
    <pre>{{ data[0] }}</pre>
  {% endif %}
{% endblock %}
