{% extends "base.html" %}

{% block title %}
  {{ food.name }}
{% endblock %}

{% block body %}
  You requested:
  <h2>{{ food.name }}</h2>
  <table>
    <thead>
      <tr>
        <th>Cals</th>
        <th>Carbs</th>
        <th>Protein</th>
        <th>Fat</th>
        <th>Sugar</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ food.cals }}</td>
        <td>{{ food.carbs }}</td>
        <td>{{ food.fat }}</td>
        <td>{{ food.protein }}</td>
        <td>{{ food.sugar }}</td>
        <td>{{ food.price / 100 }}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
