{% extends "base.html" %}

{% block title %}
  Groceries
{% endblock %}

{% block body %}
  <h1>Groceries</h1>

  {% for name, url in foods %}
    <p><a href="{{ url }}">{{ name }}</a></p>
  {% endfor %}
{% endblock %}
