{% extends "base.html" %}

{% block title %}
  {{ data[0].self.name }}: Iterations
{% endblock %}

{% block body %}
  <div>
    <div id="app"></div>
  </div>

  <script>
    var data = {{ data | tojson }};
    var highlight = {{ highlight }};
  </script>
  <script src="{{ "/js/iterations_list.js" | static_url }}"></script>
{% endblock %}
