{% extends "base.html" %}

{% block title %}
  Recipes
{% endblock %}

{% block body %}
  <form action="/recipe">
    {% if showing_all_iters %}
      <input type="submit" value="Hide iterations" />
    {% else %}
      <input type="hidden" name="all_iterations" value="true"/>
      <input type="submit" value="See all iterations" />
    {% endif %}
  </form>

  <h1>Recipes</h1>

  {% for name, url in recipes %}
    <p><a href="{{ url }}">{{ name }}</a></p>
  {% endfor %}
{% endblock %}
