{% extends "base.html" %}

{% block title %}
  {% if title %}
    {{ title }}
  {% else %}
    {{ data.self.name }}
  {% endif %}
{% endblock %}

{% block body %}
  <div>
    <div id="app"></div>
  </div>

  <script>
    var data = {{ data | tojson }};
  </script>
  <script src="{{ "/js/show_recipe.js" | static_url }}"></script>
{% endblock %}
