{% extends "base.html" %}

{% block title %}
  Daily Logs
{% endblock %}

{% block body %}
  <h1>Daily Logs</h1>

  {% for name, url in daily_logs %}
    <p><a href="{{ url }}">{{ name }}</a></p>
  {% endfor %}
{% endblock %}
