<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="Food tracker" />
  <link rel="icon" href="{{ "/img/chili-garlic.png" | static_url }}" />
  <title>{% block title %}Food{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo|Titillium+Web|Raleway&display=swap" />
  <style>

    /*********************************/
    /*         Generic styles        */
    /*********************************/

    body {
      margin: 0;
      font-family: "Raleway", sans-serif;
    }
    input {
      font-family: inherit;
    }
    h1 {
      font-family: "Arvo", serif;
      margin-top: -1vw;
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    table {
      border-collapse: collapse;
    }
    pre {
      font-family: "Cascadia Code", monospace;
      border: 1px solid #ddd;
      display: inline-block;
      padding: 1.5em;
      border-radius: 1em;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 1.5em;
    }
    .hidden {
      display: none;
    }
    .error {
      color: red;
    }
    .centered {
      text-align: center;
    }


    /*********************************/
    /*       Header bar styles       */
    /*********************************/

    #header-bar {
      position: relative;
      font-family: "Raleway", sans-serif;
      height: 8vw;
      margin: 20px 0;
    }
    ul#header-links {
      list-style: none;
      margin: 0;
      padding: 0 160px;
    }

    .dropdown {
      position: relative;
    }
    ul.dropdown-items {
      display: none;
      position: absolute;
      list-style: inherit;
      padding: 10px 20px;
      width: 100%;
      text-align: left;
      left: 0px;
      background-color: #adf;
    }
    ul.dropdown-items li {
      padding: 10px 0px;
    }

    .dropdown:hover .dropdown-items {
      display: block;
    }

    img#logo {
      height: 100%;
      width: 100%;
      overflow: hidden;
      width: 8vw;
      position: absolute;
      margin-left: 7.5%;
      background-color: #cef;
      border-radius: 50%;
      border: 5px solid #8bd;
      box-sizing: border-box;
      z-index: 1;
    }
    #links-container {
      background-color: #adf;
      text-align: right;
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 0;
    }
    .header-link {
      display: inline-block;
      padding: 20px;
    }
    #main-contents {
      width: 90%;
      margin: auto;
    }


    /*********************************/
    /*       FoodTable styles        */
    /*********************************/

    h1 input {
      border: none;
      font-size: inherit;
      font-family: inherit;
      outline: none;
      text-align: center;
      width: 20em;
    }
    table {
      margin: 1em 0;
    }
    table a {
      color: inherit;
    }
    th {
      font-family: "Arvo", serif;
    }
    th.name-column {
      width: 18em;
    }
    td.delete-cell {
      padding: 0;
    }
    td.delete-cell .alignment-helper {
      height: 100%;
      vertical-align: middle;
    }
    td.delete-cell img {
      width: 1em;
      vertical-align: middle
    }
    td {
      border-bottom: 1px solid black;
      padding: 0.6em 1.2em;
      text-align: right;
      font-size: 18px;
      color: #555;
      font-family: 'Titillium Web', sans-serif;
    }
    td.name-cell {
      text-align: left;
    }
    td.name-cell input {
      border: none;
      color: inherit;
      text-align: inherit;
      font-size: inherit;
      font-family: inherit;
    }
    td.name-cell input:focus {
      border-bottom: 2px solid #aaf;
    }
    td.amount-cell {
      color: gray;
    }
    td.amount-cell input {
      font-size: inherit;
      text-align: inherit;
      color: inherit;
      border: none;
      width: 4vw;
    }
    td.amount-cell input:focus {
      border-bottom: 2px solid #aaf;
    }
    td.price-cell {
      border-left: 1px solid #aaa;
      border-right: 1px solid #aaa;
    }
    .total-row td {
      padding-top: 1em;
      border-bottom: none;
    }
    .percentages-row td {
      border-bottom: none;
      padding-top: 0;
      font-size: 14px;
      color: #aaa;
    }
  </style>
</head>

<body>
  <div id="header-bar">
    <img id="logo" src="{{ "/img/chili-garlic.png" | static_url }}" />
    <div id="links-container">
      <ul id="header-links" >
        <li class="header-link"><a href="/">Home</a></li>
        <li class="header-link"><a href="/daily_log/today">Today</a></li>
        <li class="header-link dropdown">
          <a href="#">New</a>
          <ul class="dropdown-items">
            <li><a href="/recipe/new">New recipe</a></li>
            <li><a href="/daily_log/new">New daily log</a></li>
          </ul>
        </li>
        <li class="header-link dropdown">
          <a href="#">Browse</a>
          <ul class="dropdown-items">
            <li><a href="/food">Foods</a></li>
            <li><a href="/recipe">Recipes</a></li>
            <li><a href="/daily_log">Daily logs</a></li>
            <li><a href="/pantry">Pantry</a></li>
          </ul>
        </li>
        <li class="header-link dropdown">
          <a href="/login">Login</a>
          <ul class="dropdown-items">
            <li><a href="/login/logout">Logout</a></li>
            <li><a href="/login/test">Auth test</a></li>
          </ul>
        </li>
        <li class="header-link dropdown">
          <a href="#">Cause errors</a>
          <ul class="dropdown-items">
            <li><a href="/explicit_400">Explicit 400</a></li>
            <li><a href="/implicit_500">Implicit 500</a></li>
            <li><a href="/explicit_500">Explicit 500</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div id="main-contents">
    {% block body %}

    {% endblock %}
  </div>
</body>
</html>
