{% extends "base.html" %}

{% block title %}
  Food
{% endblock %}

{% block body %}
  <h1>Hello world!</h1>

  <p>Check out some links:</p>

  <p><a href="/recipe">Browse Recipes</a></p>
  <p><a href="/daily_log">Browse Daily Logs</a></p>
{% endblock %}
