{% extends "base.html" %}

{% block title %}
  Login
{% endblock %}

{% block body %}
  <h1>Login</h1>

  {% if error %}
    <p class="error">{{ error }}
  {% endif %}
  <p>Please log in.</p>

  <form action="/login" method="POST">
    <input type="hidden" name="return_to" value="{{ return_to }}" />
    <input type="password" name="password" />
    <input type="submit" value="Log in" />
  </form>
{% endblock %}
